.product-filter {

  background: #ececec;

  @extend .table;
  @extend .table-hover;
  // thead {background: $gold;}
  thead {background: #ddd;}
  thead h4 {
    // color: #fff;
    text-transform: none;
    font-style: italic;
    float: left;
  }
  tbody {
    text-transform: uppercase;
    color: #555 !important;
  }
  tbody p {margin-bottom: 0;}
  .active {

    background: $gold !important;
    p{color: #fff !important;}
  }
  td {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.product-filter td {border-top: none !important;}


#Container .mix{
  display: none;
}


.archive-list {
  position: relative;
  @extend .col-md-9;
  text-align: left;
  h5, h6 {margin-bottom: 0px !important}
  h3 {
    font-size: 24px !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba($gold,.2);
  }
  h5 {
    font-size: 18px;
    margin-top: 30px;
  }
  h6 {
    font-style: italic;
    font-size: 18px;
    text-transform: none;
  }
}

.archive-list-article {
  position: relative;
  ul {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    li {margin-bottom: 5px;}

  }
  margin-bottom: 30px;
  .title {
    position: relative;
    overflow: hidden;
    img {width: 100%}
  }
  .title header {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: rgba(#ececec,.9);
    padding: 10px 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
  }
  p {margin-bottom: 10px !important;}
  .date {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
  }
  .postcontent {

  }
  .postcontent p {
    max-width: 3000px;
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  strong {
    font-weight: 400;
    font-variant: italic;
    margin-top: 14px;
    font-style: italic;
    margin-bottom: 0;
    display: inline-block;
    margin-bottom: -10px;
  }
}

button.filter {
  background: rgba($gold,.3);
  border: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 14px;

}

input#gform_submit_button_1.gform_button.button {
  background: rgba($gold,.3);
  border: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 14px;

}

.gfield {margin-top: 30px}