.contact-main-content {
  @extend .col-md-6;
  @extend .col-md-offset-3;
  text-align: center;
  padding: 120px 0;
  p {margin-bottom: 0 !important}
}

.contact-bottom-content {
  background: #ececec;
   h2 {margin-bottom: 30px !important}
}

.contact-item {
  @extend .col-md-3;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  p {font-size: 16px !important;}

  h4 {
    font-style: italic;
    text-transform: none;
  }
}