@include keyframes(imageAnimation) { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        @include transform( scale(1.05) );
        
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
        @include transform( scale(1.1) );
    }
    30% {
        opacity: 0;
        @include transform( scale(1.1) );
    }
    100% { opacity: 0 }
}


.home-hero {
  position: relative;
  background: #212121;
  display: block;
  position: relative;
  overflow: hidden;
  .slide { 
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: 0;
      @include animation( imageAnimation 50s linear infinite 0s);
    
    &:nth-child(1) {
      background-image: url('../images/hero2.jpg') 
    }
    &:nth-child(2) { 
      background-image: url('../images/hero3.jpg');
      @include animation-delay(10s);
    }
    &:nth-child(3) { 
      background-image: url('../images/hero4.jpg');
      @include animation-delay(20s);
    }
    &:nth-child(4) { 
      background-image: url('../images/hero5.jpg');
      @include animation-delay(30s);
    }
    &:nth-child(5) { 
      background-image: url('../images/hero6.jpg');
      @include animation-delay(40s);
    }
  }
}

.hero-text {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 9999;
      @include max-breakpoint(800px){
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 22px;
    }
  p {
    font-weight: 600 !important;
    padding: 0 0 0 0 !important;
  }
  h1 {
    color: #fff;
    font-weight: 600;
  }
  @include transform( translateZ(50px) );
}


.home section {
  padding: 60px 20px;
  p{
    color: #999;
    font-weight: 300;
  }
  text-align: center;
  @include min-breakpoint(800px){
    
    padding: 80px;
    p{
      font-size: 22px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  @include make-row();
  p{
    color: #999;
    font-weight: 300;
  }
  h2 {margin-top: 0;}

}



.home .home-nav {
  padding: 0;
}
.home-navitem {
  @extend .col-sm-3;
  @extend .col-xs-6;
  padding: 0;
  @include transition ( all .1s ease-in-out );
  img {width: 100%;}
}
.home section .hero-text {color: #fff; text-shadow: 0 0 50px rgba(#000,.5);}

.home-hero {
  background-size: cover;
  color: #fff !important;

  p {
    @include min-breakpoint(800px){
      padding: 100px 0;
    }
    color: #fff !important;
    font-weight: 500;
    font-size: 24px;
    max-width: 600px;
  }
}

a.read-more {
  display: block;
  margin-top: 16px;
}

.home-navitem-title {
  width: 100%;
  display: block;
  background: #ececec;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  @include max-breakpoint(800px){
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.home-navitem:hover {

  box-shadow: 0 4px 0 rgba($gold,.7);
  z-index: 22;
  border-bottom: none;
  .home-navitem-title {
    background: $gold;
    color: #fff;
  }
}

.home-contact {
  background: #ececec;
}


.finishing-list {
  @extend .col-md-8;
  @extend .col-md-offset-2;
}