.container {
  @include make-row;
}


section {
  padding: 60px 20px;
  p{
    font-weight: 300;
  }
  @include min-breakpoint(800px){
    padding: 80px;
  }

  @include make-row();
  p{
    color: #999;
    font-weight: 300;
  }
  h2 {margin-top: 0;}

}


.news-sidebar{
  @extend .col-md-3;
  margin-top: 0;
}

.news-filter {
  
  background: #ececec;

  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  // thead {background: $gold;}
  thead h4 {
    // color: #fff;
    text-transform: none;
    font-style: italic;
  }
  tbody a {
    text-transform: uppercase;
    color: #555 !important;
  }
  tbody a p {margin-bottom: 0;}
  tbody a .date {
    text-transform: none;
    color: $gold;
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
  }
}
.news-filter td {border-top: none !important;}
.news-filter tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ddd;
}
.news-list {
  @extend .col-md-9;
  text-align: left;

}

.news-list-article {
  margin-bottom: 60px;
  .title img {width: 100%}
  @include min-breakpoint(800px){
    .title {
      position: relative;
      overflow: hidden;
      
    }
      h5, h6 {margin-bottom: 0px !important}
  h3 {
    font-size: 24px !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba($gold,.2);
  }
  h5 {
    font-size: 18px;
    margin-top: 30px;
    text-transform: none;
  }
  h6 {
    font-style: italic;
    font-size: 18px;
    text-transform: none;
  }
    .title header {
      position: absolute;
      bottom: 0; left: 0; right: 0;
      background: rgba(#ececec,.9);
      padding: 10px 30px;
      h3 {
        font-size: 24px;
        font-weight: 400
      }
    }
  }

  .date {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
  }
  .postcontent {
    @include min-breakpoint(800px){
      padding: 20px 35px;
      background: #ececec;
    }
  }
  .postcontent p {
    max-width: 3000px;
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  strong {
    font-weight: 300;
    font-variant: italic;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 0;
    color: $gold;
    display: inline-block;
    margin-bottom: -10px;
  }
}