.contact-main-content {
  text-align: center;
  padding: 120px 40px;
  p {margin-bottom: 0 !important}
}

.order-bottom-content {
  background: #ececec;
}

.order-item {
  @extend .col-md-6;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  h4 {
    font-style: italic;
    text-transform: none;
  }
}