.featured-image {
  img {width: 100%;}
  padding: 0 0 0 0;
}


.main-content .postcontent {
  @extend .col-md-8;
  @extend .col-md-offset-2;
}

section.page-gallery {
  padding: 0 0 0 0;
}



.page-gallery .wk-gallery-wall > a {
  @include min-breakpoint(700px){
    width: 33.33333333333% !important;  
    &:nth-of-type(10) {display: none !important}
  }
  @include min-breakpoint(1000px){
    width: 20% !important;
    &:nth-of-type(10) {display: block !important}
  }

  @include max-breakpoint(700px){
    width: 50% !important;  
  }
}  