section.foot {
  text-align: left;
  background: #636363;
  p {font-size: 16px;}
}
div {min-height: 30px;}
.foot img {width: 100%}
.foot-address,
.foot-contactinfo,
.foot-branding {
  @extend .col-lg-3;
  @extend .col-md-6;
  text-align: left;
}

.foot-title {
  font-size: 24px;
  @extend .col-lg-12;
  margin-bottom: 20px;
  text-align: left;
}

.foot-branding img {
  max-width: 275px;
  float: right;
}

.foot-spacer {
  @extend .col-lg-3;
  @extend .col-md-6;
  height: 30px;
}
.foot-address .social-link {
  font-size: 14px;
  margin-top: 10px;
  margin-right: -5px;
  .fa-stack-2x {color: rgba($gold,.15)}
  .fa-stack-1x {color: $gold}
}