.head,
.home .head {
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 20px !important;
  padding-left: 0;
  padding-right: 0;
  a {
    color: $text-color;
    text-transform: uppercase;
    font-size: 12px;
  }

}

.branding{
  @extend .col-md-2;
  @extend .col-xs-12;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 76px;
  }
}

.menu-left,
.menu-right {
  @extend .nav;
  @extend .navbar-nav;
  margin: 15px 0;
  float: none;
  display: inline-block;
}

// .menu-right {
//   @extend .navbar-right;
// }

// .menu-left {
//   @extend .navbar-left;
// }

.menu-wrapper {
  @extend .col-md-5;
  padding: 0 0 0 0;
  text-align: center;
}
@include max-breakpoint(1130px){
  li.menu-item a {
    padding: 10px 5px;
  }
}

@include min-breakpoint(800px){
  .head, .home section.head {
    visibility: visible !important;
    display: block !important;
  }
}
@include max-breakpoint(800px){
  .head,
  .home section.head {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    padding-top: 20px;
    right: 0;
    z-index: 999;
    background: rgba(#fff,.95);
    z-index: 9999;
    .branding {
      display: none;
    }
    .menu-left,
    .menu-right {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.mobile-head,
.home section.mobile-head {
  @include min-breakpoint(800px){
    display: none;
  }
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 10px 0px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 0 3px rgba(#fff,.8);
  .branding {
    display: inline-block;
    width: auto;
  }
  .branding img{
    height: 50px;
    margin-top: 0px;

  }
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  height: 50px;
  padding: 15px;
  img {height: 30px}
  svg {
    stroke: rgba($gold,.5);
  }
}
.menu-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: rgba($gold,.4);
  position: absolute;
  display: block;
  content: '';
}
.menu-toggle span:before {
  top: -10px; 
}
.menu-toggle span:after {
  bottom: -10px;
}

.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  transition: all 500ms ease-in-out;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle.active span:before, .menu-toggle.active span:after {
  top: 0;
}
.menu-toggle.active span:before {
  @include transform(rotate(45deg));
}
.menu-toggle.active span:after {
  @include transform(rotate(-45deg));
}