// IMPORTS - libraries, partials, and then pages
@import "fonts",
        "vars",
        "mixins";

@import "bootstrap",
        "bourbon/bourbon",
        "font-awesome/scss/font-awesome",
        "modules/superfish",
        "modules/owlcarousel";

@import "partials/header",
        "partials/footer";

@import "pages/home",
        "pages/news",
        "pages/archives",
        "pages/page",
        "pages/contact",
        "pages/order";

/* =======================================================
    MIXINS TO USE
===========================================================

- min-breakpoint(px){rules} and max-breakpoint(px){rules}
- for adding a simple media query


/* ===========================================================
   DEFAULTS
=========================================================== */

body {
    margin: 0;
    @include min-breakpoint(800px){
        border: solid 30px #fff;
    }
    font-weight: 300;
    @include max-breakpoint(800px){
        margin-top: 70px;
    }
}

html {
    font-size: 16px;
    background: #f4f4f4;

    @include max-breakpoint(800px){font-size: 12px}
}

a:hover {
    text-decoration: none;
}

.page-title {
    padding: 20px 0;
    text-align: center;
    background: $gold;
    h1 {
        font-size: 32px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 0;   
        color: #fff;
    }
}

#breadcrumbs {
    @include min-breakpoint(800px){
        position: absolute;
        right: 20px;
        top: -40px;
    }
}

.news-sidebar {
    @include max-breakpoint(800px){display: none}
}